html{
    font-family: sans-serif;
}
.flexNav{
    display: flex;
    justify-content: space-around;
}
.flexBarre{
    display: flex;
}
.alignText{
    text-align: center;
}

.styleNav{
    background-color: rgb(163, 163, 238);
    padding: 10px;
}
.barreProgress{
    margin-left: 5px;
    background-color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    border: inset rgb(180, 176, 176) 2px;
}
.barreProgress_Energy{
    background-color: rgb(76, 248, 76);
    width: 0%;
    text-align: center;
}
.barreProgress_Productivity{
    background-color: rgb(76, 248, 76);
    width: 0%;
    text-align: center;
}
.barreProgress_Creativity{
    background-color: rgb(76, 248, 76);
    width: 0%;
    text-align: center;
}
.barreProgress_Backend{
    background-color: rgb(76, 248, 76);
    width: 0%;
    text-align: center;
}
.flexMain{
    display: flex;
    justify-content: space-between;
}
.box13{
    padding:  10px;
    width: 100%;
    height:90vh;
    background-color: rgb(253, 201, 201);
}
td{
    width: 200px;
    background-color: white;
    text-align: center;
}
.boxMap{
    width: 100%;
    height: 660px;
    display: flex;
    justify-content: center;
}
.ligne{
    display: flex;
}
.tuile{
    width: 20px;
    height: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background: rgb(203, 238, 168);
}
body > div.flexMain > div:nth-child(1)>div{
    justify-content: space-between;
    display: flex;
    margin: 10px;
    padding: 0px 15px ;
    background-color: rgb(157, 191, 255);
}
body > div.flexMain > div:nth-child(1)>div>div{
    justify-content: space-between;
    display: flex;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.login {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 /* _________________________MENU de jeu DEROULANT______________________ */
.deroulZero{
    transition-duration: 1s;
}
 /* _________________________Bull d'aide______________________ */



            /* RIGHT BOX */
 .colorRightBox>div{
    background-color: rgb(157, 191, 255);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px ;
 }
 .colorRightBox>div>div{
     text-align: center;
 }




