<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
    <link rel="stylesheet" href="style.css">
    <title>BecodeWAR</title>
</head>
<header>

</header>

<body>
    <div class="flexNav styleNav ">
        <div class="flexNav">Rules</div>
        <div class="flexNav">Energie<div class="barreProgress ">
                <div class="flexBarre">
                    <div class="barreProgress_Energy" id="barreProgress_Energy"><span id="statutEnergy"></span></div>
                </div>
            </div>
        </div>
        <div class="flexNav">Productivity<div class="barreProgress ">
                <div class="flexBarre">
                    <div class="barreProgress_Productivity" id="barreProgress_Productivity"><span
                            id="statutProductivity"></span></div>
                </div>
            </div>
        </div>
        <div class="flexNav">Créativity<div class="barreProgress ">
                <div class="flexBarre">
                    <div class="barreProgress_Creativity" id="barreProgress_Creativity"><span
                            id="statutCreativity"></span></div>
                </div>
            </div>
        </div>
        <div class="flexNav">Backend<div class="barreProgress ">
                <div class="flexBarre">
                    <div class="barreProgress_Backend" id="barreProgress_Backend"><span id="statutBackend"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flexMain">
        <div class="box13 ">
            <p>Technologies</p>
            <div class="flexBarre">
                <div class="flexColumn alignText">Energie <span id="EN">0</span>/sec</div>
                <div class="flexColumn alignText">Productivity <span id="PR">0</span>/sec</div>
                <div class="flexColumn alignText">Créativity <span id="CR">0</span>/sec</div>
                <div class="flexColumn alignText">Backend <span id="BE">0</span>/sec</div>
            </div>
            <div>Energie<div><i id="deroulEnergy" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="energyBox">
                <table>
                    <tr>
                        <td>café</td>
                        <td>15E</td>
                        <td><button id="cafe">Buy</button></td>
                    </tr>
                    <tr>
                        <td>Cafetière</td>
                        <td>60E + 30P</td>
                        <td><button id="italienne">Buy</button></td>
                    </tr>
                    <tr>
                        <td>percolateur</td>
                        <td>300E + 200P</td>
                        <td><button id="percolateur">Buy</button></td>
                    </tr>
                </table>
            </div>

            <div>Productivity <div><i id="deroulProductivity" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="productivityBox">
                <table>
                    <tr>
                        <td>écran</td>
                        <td>60P</td>
                        <td><button id="ecran">Buy</button></td>
                    </tr>
                    <tr>
                        <td>Ram</td>
                        <td>500E + 500P</td>
                        <td><button id="ram">Buy</button></td>
                    </tr>
                    <tr>
                        <td>IDE</td>
                        <td>1000E + 1000P + 500C + 500B</td>
                        <td><button id="IDE">Buy</button></td>
                    </tr>
                </table>
            </div>
            <div>Créativity <div><i id="deroulCreativity" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="creativityBox">
                <table>
                    <tr>
                        <td>Figma</td>
                        <td>500E + 300P</td>
                        <td><button id="Figma">Buy</button></td>
                    </tr>
                    <tr>
                        <td>Adobe</td>
                        <td>1000E + 500P + 500C</td>
                        <td><button id="Adobe">Buy</button></td>
                    </tr>
                    <tr>
                        <td>CSS</td>
                        <td>Pas attribué</td>
                        <td><button id="CSS">Buy</button></td>
                    </tr>
                </table>
            </div>
            <div>Backend <div><i id="deroulBackend" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="backendBox">
                <table>
                    <tr>
                        <td>node.js</td>
                        <td>Pas attribué</td>
                        <td><button id="node">Buy</button></td>
                    </tr>
                    <tr>
                        <td>PHP</td>
                        <td>Pas attribué</td>
                        <td><button id="PHP">Buy</button></td>
                    </tr>
                    <tr>
                        <td>Python</td>
                        <td>Pas attribué</td>
                        <td><button id="Python">Buy</button></td>
                    </tr>
                </table>
            </div>
                                    <!-- STOCK RESSOURCE -->
            <p>Stock ressource</p>
            <div>Stock d'énergie <div><i id="butDeroulStockEN" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="StockENBox">
                <table>
                    <tr>
                        <td>GAUFFRE</td>
                        <td>Pas attribué</td>
                        <td><button id="gauffre">Buy</button></td>
                    </tr>
                    <tr>
                        <td>COOKIES</td>
                        <td>Pas attribué</td>
                        <td><button id="cookies">Buy</button></td>
                    </tr>
                    <tr>
                        <td>RACLETTE</td>
                        <td>Pas attribué</td>
                        <td><button id="raclette">Buy</button></td>
                    </tr>
                </table>
            </div>
            <div>Stock productivity <div><i id="butDeroulStockPR" class="fas fa-caret-left fa-2x"></i></div>
        </div>
        <div class="flexColumn deroulZero " id="StockPRBox">
            <table>
                <tr>
                    <td>usbkey</td>
                    <td>Pas attribué</td>
                    <td><button id="usbkey">Buy</button></td>
                </tr>
                <tr>
                    <td>cloud</td>
                    <td>Pas attribué</td>
                    <td><button id="cloud">Buy</button></td>
                </tr>
                <tr>
                    <td>disqueDurExterne</td>
                    <td>Pas attribué</td>
                    <td><button id="disqueDurExterne">Buy</button></td>
                </tr>
            </table>
        </div>
        <div>Stock creativity <div><i id="butDeroulStockCR" class="fas fa-caret-left fa-2x"></i></div>
    </div>
    <div class="flexColumn deroulZero " id="StockCRBox">
        <table>
            <tr>
                <td>pilluleBleu</td>
                <td>Pas attribué</td>
                <td><button id="pilluleBleu">Buy</button></td>
            </tr>
            <tr>
                <td>pillulerouge</td>
                <td>Pas attribué</td>
                <td><button id="pillulerouge">Buy</button></td>
            </tr>
            <tr>
                <td>elonMusk</td>
                <td>Pas attribué</td>
                <td><button id="elonMusk">Buy</button></td>
            </tr>
        </table>
    </div>
    <div>Stock Backend <div><i id="butDeroulStockBE" class="fas fa-caret-left fa-2x"></i></div>
</div>
<div class="flexColumn deroulZero " id="StockBEBox">
    <table>
        <tr>
            <td>skyblog</td>
            <td>Pas attribué</td>
            <td><button id="skyblog">Buy</button></td>
        </tr>
        <tr>
            <td>github</td>
            <td>Pas attribué</td>
            <td><button id="github">Buy</button></td>
        </tr>
        <tr>
            <td>la nasa</td>
            <td>Pas attribué</td>
            <td><button id="la_nasa">Buy</button></td>
        </tr>
    </table>
</div>
    








                            <!-- BULLE D'AIDE -->
        <div>Bulle d'aide<div id="bullAide"></div>
    </div>
   
        </div>
        
                    <!-- fin de la box de gauche -->
        <div class="boxMap">
            <div id="map">
            </div>
        </div>
        <div class="box13"></div>
    </div>

</body>

</html>
<script src="ressourceJS.js"></script>
<script src="map.js"></script>