<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
    <link rel="stylesheet" href="style.css">
    <title>BecodeWAR</title>
</head>
<header>

</header>

<body>
    <div class="flexNav styleNav">
        <div class="flexNav">Rules</div>
        <div class="flexNav">Energie<div class="barreProgress ">
                <div class="flexBarre">
                    <div class="barreProgress_Energy" id="barreProgress_Energy"><span id="statutEnergy"></span></div>
                </div>
            </div>
        </div>
        <div class="flexNav">Productivity<div class="barreProgress ">
                <div class="flexBarre">
                    <div class="barreProgress_Productivity" id="barreProgress_Productivity"><span
                            id="statutProductivity"></span></div>
                </div>
            </div>
        </div>
        <div class="flexNav">Créativity<div class="barreProgress ">
                <div class="flexBarre">
                    <div class="barreProgress_Creativity" id="barreProgress_Creativity"><span
                            id="statutCreativity"></span></div>
                </div>
            </div>
        </div>
        <div class="flexNav">Backend<div class="barreProgress ">
                <div class="flexBarre">
                    <div class="barreProgress_Backend" id="barreProgress_Backend"><span id="statutBackend"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flexMain">
        <div class="box13">
            <p>Technologies</p>
            <div>Energie<div><i id="deroulEnergy" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="energyBox">
                <table>
                    <tr>
                        <td>café</td>
                        <td>15E</td>
                        <td><button id="cafe">Buy</button></td>
                    </tr>
                    <tr>
                        <td>Cafetière</td>
                        <td>60E + 30P</td>
                        <td><button id="italienne">Buy</button></td>
                    </tr>
                    <tr>
                        <td>percolateur</td>
                        <td>300E + 200P</td>
                        <td><button id="percolateur">Buy</button></td>
                    </tr>
                </table>
            </div>

            <div>Productivity <div><i id="deroulProductivity" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="productivityBox">
                <table>
                    <tr>
                        <td>écran</td>
                        <td>15E</td>
                        <td><button id="ecran">Buy</button></td>
                    </tr>
                    <tr>
                        <td>Ram</td>
                        <td>60E + 30P</td>
                        <td><button id="ram">Buy</button></td>
                    </tr>
                    <tr>
                        <td>IDE</td>
                        <td>300E + 200P</td>
                        <td><button id="IDE">Buy</button></td>
                    </tr>
                </table>
            </div>
            <div>Créativity <div><i id="deroulCreativity" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="creativityBox">
                <table>
                    <tr>
                        <td>Figma</td>
                        <td>15E</td>
                        <td><button id="ecran">Buy</button></td>
                    </tr>
                    <tr>
                        <td>Adobe</td>
                        <td>60E + 30P</td>
                        <td><button id="ram">Buy</button></td>
                    </tr>
                    <tr>
                        <td>CSS</td>
                        <td>300E + 200P</td>
                        <td><button id="IDE">Buy</button></td>
                    </tr>
                </table>
            </div>
            <div>Backend <div><i id="deroulBackend" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="backendBox">
                <table>
                    <tr>
                        <td>node.js</td>
                        <td>15E</td>
                        <td><button id="ecran">Buy</button></td>
                    </tr>
                    <tr>
                        <td>PHP</td>
                        <td>60E + 30P</td>
                        <td><button id="ram">Buy</button></td>
                    </tr>
                    <tr>
                        <td>Python</td>
                        <td>300E + 200P</td>
                        <td><button id="IDE">Buy</button></td>
                    </tr>
                </table>
            </div>
            <div>Bulle d'aide<div id="bullAide"></div>
            </div>
        </div>

        <div class="boxMap">
            <div id="map">
            </div>
        </div>
        <div class="box13"></div>
    </div>

</body>

</html>
<script src="ressourceJS.js"></script>
<script src="map.js"></script>