<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
    <link rel="stylesheet" href="style.css">
    <title>BecodeWAR</title>
</head>
<header>

</header>

<body>
    <div class="flexNav styleNav">
        <div class="flexNav">Rules</div>
        <div class="flexNav">Energie<div class="barreProgress ">
                <div class="flexBarre">
                    <div class="barreProgress_Energy" id="barreProgress_Energy"><span id="statutEnergy"></span></div>
                </div>
            </div>
        </div>
        <div class="flexNav">Productivity<div class="barreProgress">0/100</div>
        </div>
        <div class="flexNav">Créativity<div class="barreProgress">0/100</div>
        </div>
        <div class="flexNav">Backend<div class="barreProgress">0/100</div>
        </div>
    </div>
    <div class="flexMain">
        <div class="box13">
            <p>Technologies</p>
            <div>Energie<div><i  id="deroulEnergy" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="energyBox">
                <div><span>café</span> <button>Buy</button></div>
                <div><span>Cafetière italienne</span> <button>Buy</button></div>
                <div><span>percolateur</span> <button>Buy</button></div>
            </div>

            <div>Productivity <div><i id="deroulProductivity" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="productivityBox">
                <div><span>écran</span> <button>Buy</button></div>
                <div><span>Ram</span> <button>Buy</button></div>
                <div><span>IDE</span> <button>Buy</button></div>
            </div>
            <div>Créativity <div><i id="deroulCreativity" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="creativityBox">
                <div><span>Figma</span> <button>Buy</button></div>
                <div><span>Adobe</span> <button>Buy</button></div>
                <div><span>CSS</span> <button>Buy</button></div>
            </div>
            <div>Backend <div><i id="deroulBackend" class="fas fa-caret-left fa-2x"></i></div>
            </div>
            <div class="flexColumn deroulZero " id="backendBox">
                <div><span>node.js</span> <button>Buy</button></div>
                <div><span>PHP</span> <button>Buy</button></div>
                <div><span>Python</span> <button>Buy</button></div>
            </div>
        </div>
        <div class="boxMap">
            <div id="map">
            </div>
        </div>
        <div class="box13"></div>
    </div>

</body>

</html>
<script src="ressourceJS.js"></script>
<script src="map.js"></script>
<script src="deroul.js"></script>